.Profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Profile .header {
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.Profile .header img {
  height: 200px;
  border-radius: 5px;
  margin-right: 20px;
  border: 3px solid #fff;
  box-shadow: 0 0 5px 0 rgb(66, 66, 66);
}

.Profile .header .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.Profile .header .desc .btns {
  margin: 0 0 0 auto;
}

.Profile .header .desc .btns .btn {
  margin-right: 10px;
}

.Profile .header .desc .btns .btn:last-child {
  margin-right: 0;
}

.Profile .pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.Profile .pics .profile_photo {
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Profile .pics .profile_photo:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.Profile .pics .profile_photo img {
  width: 100%;
  z-index: -1;
}