.navbar {
  box-sizing: content-box;
  height: 40px;
  overflow: shown;
}

.profile-img {
  height: 40px;
  padding: 0;
  margin: 0 15px 0 0;
  border-radius: 100%;
}

p.nav-link {
  color: red;
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .navbar {
    box-sizing: content-box;
    height: auto;
    overflow: shown;
  }
}

@media screen and (max-width: 575px) {
  .profile-img {
    padding: 0;
    margin: 0 15px 0 0;
  }
}